:root {
  --card-width: 200px;
  --card-height: 279px;
  --border-radius: 5%/3.5%;
}

tcg-card, .card-component, .card-front,
.card-back {
  width:var(--card-width);
  height:var(--card-height);
}
tcg-card, .card-component, .card-front,
.card-back {
  display: inline-block;
}
tcg-card {
  margin: 3%;
  perspective: 600px;
}

#gacha-controls #card-list {
  min-height:52vh;
}
#gacha-controls tcg-card {
  --card-width: 400px;
  --card-height: 559px;
  position: absolute;
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; */
  /* right: calc(100vw - (90px + 1em + var(--card-width))); */
  right:10%;
  transition: all 0.3s ease;
}

#gacha-controls tcg-card:nth-child(3n+1){
  transform: rotate(0deg);
}
#gacha-controls tcg-card:nth-child(3n+2){
  transform: rotate(-5deg);
}
#gacha-controls tcg-card:nth-child(3n+3){
  transform: rotate(3deg);
}
#gacha-controls tcg-card.clicked:nth-child(3n+1){
  transform: rotate(-3deg);
}
#gacha-controls tcg-card.clicked:nth-child(3n+2){
  transform: rotate(5deg);
}
#gacha-controls tcg-card.clicked:nth-child(3n+3){
  transform: rotate(0deg);
}

#gacha-controls tcg-card:nth-child(1){ z-index:10; }
#gacha-controls tcg-card:nth-child(2){ z-index:9; }
#gacha-controls tcg-card:nth-child(3){ z-index:8; }
#gacha-controls tcg-card:nth-child(4){ z-index:7; }
#gacha-controls tcg-card:nth-child(5){ z-index:6; }
#gacha-controls tcg-card:nth-child(6){ z-index:5; }
#gacha-controls tcg-card:nth-child(7){ z-index:4; }
#gacha-controls tcg-card:nth-child(8){ z-index:3; }
#gacha-controls tcg-card:nth-child(9){ z-index:2; }
#gacha-controls tcg-card:nth-child(10){ z-index:1; }

#gacha-controls.grid-display tcg-card {
  position:initial;
}
#gacha-controls.grid-display tcg-card,
#gacha-controls.grid-display tcg-card.clicked {
  transform: rotate(0deg)
}

#gacha-controls #card-list tcg-card.clicked {
  /* left:10%; */
  animation: left 1s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes left {
  100% {
    right:calc(84% - var(--card-width));
    /* right:50%; */
  }
}

/* Override default button styling */
.card-front,
.card-back {
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  position:absolute;
}

.card-component {
  will-change: transform;
  transform-style: preserve-3d;
  transition: box-shadow .4s ease;
  transform-origin: center;
  /* box-shadow: 0 10px 20px -5px #000; */
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
}
.card-component:hover {
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.3);
}
#gacha-controls .card-component {
  box-shadow:none;
}

#gacha-controls .card-front {
  backface-visibility: visible;
  will-change: transform;
  transform: rotateY(180deg) translateZ(1px);
}
#gacha-controls .card-back {
  backface-visibility: hidden;
}

.card-image,
.card-cover {
  width: 100%;
  height:100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-cover {
  border: solid;
  border-color: dodgerblue;
  box-sizing:border-box;
  border-radius: var(--border-radius);
  background-image:url("../images/elysium_delivery_services.jpg");
  background-color: white;
}

#gacha-controls #card-list .card-component.flip {
  animation: flip 0.5s ease 0s 1;
  animation-fill-mode: forwards;
}
@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
}

.dialog-title {
  grid-area: head;
  text-align: center;
}

.details-dialog-card {
  width: 300px;
  grid-area: card;
}

.details-dialog-text {
  padding: 0 30px;
  overflow: auto;
  grid-area: text;
}

.details-dialog-text, #card-details-dialog {
  /* firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) var(--accent-color);
}


.details-dialog-text::-webkit-scrollbar, #card-details-dialog::-webkit-scrollbar {
  width: 12px;
}
.details-dialog-text::-webkit-scrollbar-track, #card-details-dialog::-webkit-scrollbar-track {
  background: var(--accent-color);
  border-radius:10px;
}
#card-details-dialog::-webkit-scrollbar-track {
  border-radius:0px 10px 10px 0px;
}
.details-dialog-text::-webkit-scrollbar-thumb, #card-details-dialog::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border: 3px solid var(--accent-color);
  border-radius:10px;
}

.card-details-dialog-close {
  grid-area: x;
  justify-self: end;
}

.card-details-dialog-close,
#full-collection-toggle, #reset-collection, #sort-dropdown,
#gacha-button {
  background-color: var(--bg-color);
  color:white;
  border: 8px solid transparent;
  max-height:37px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  width: 200px;
  cursor: pointer;
}
#gacha-button {
  margin-top:1em;
  background-color: var(--accent-color);
}
#sort-dropdown {
  text-align:center;
  margin-left: 4px;
}
.card-details-dialog-close:hover,
#full-collection-toggle:hover, #reset-collection:hover, #sort-dropdown:hover {
  background-color: var(--accent-color);
}
#gacha-button:hover {
  background-color: var(--bg-color);
}
#sort-dropdown:active {
  border-color:transparent;
}
section label {
  padding-left: 15px;
}
section#gacha-controls label {
  color:white;
  padding-left:0px;
}
section#gacha-controls input {
  margin-left:15px;
}

#collection-pagination {
  margin-top: 10px;
  text-align: center;
}
#collection-pagination a {
  text-decoration:none;
  color: var(--accent-color);
  border-bottom: 2px solid transparent;
  padding:0 10px
}
#collection-pagination a:hover {
  border-bottom: 2px solid var(--bg-color);
}

.card-subtitle {
  user-select: text;
}

#card-details-dialog {
  top: 2rem;
  left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
  transform: translateX(-50%); /* move backwards 50% of this element's width */
  position: fixed;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  height: 90%;
  width: 90%;
  z-index: 10; /* set to 10 so that it's greater than nav a.active's z-index and #dialog-overlay */
  display: grid;
  grid-template-areas:
    ".     x"
    "head  head"
    "card  text"
    "card  text";
  overflow-y: auto;
}

[role="dialog"][aria-hidden="true"] {
  display: none;
}

[role="dialog"][aria-hidden="noshow"] {
  opacity: 0;
}

@media screen and (max-width: 1400px) {
  #gacha-controls tcg-card {
    --card-width: 300px;
    --card-height: 419px;
  }

  .details-dialog-card {
    width: 25vw;
    height: calc(25vw*1.395);
  }
}

@media screen and (max-width: 1000px) {

  #gacha-controls tcg-card {
    --card-width: 200px;
    --card-height: 279px;
  }

  #card-details-dialog {
    grid-template-areas:
      ".     x"
      "head  head"
      "text  text"
      "card  card";
    overflow-y: auto;
    overflow-x: hidden;
    justify-items: center;
  }

  .details-dialog-text {
    /* Override overflow: auto for small screens, and let whole dialog scroll instead of just the text section */
    overflow: visible;
    min-height: auto;
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 900px) {

  section label {
    white-space: nowrap;
    margin-top: 10px;
    display: block;
    padding-left: 0px;
  }
  section#gacha-controls label {
      white-space: normal;
      margin-top: 0px;
      display: inline-block;
      padding-left:0px
  }

}

@media screen and (max-width: 800px) {
  #gacha-controls #card-list {
    min-height:55vh;
  }
  #gacha-controls.pile-display tcg-card {
    left: 0;
    right: 0;
    margin: 3% auto 0 auto;
  }
  #gacha-controls.pile-display #card-list tcg-card.clicked {
    animation: bottom 1s ease 0s 1;
    animation-fill-mode: forwards;
  }
  @keyframes bottom {
    0% {
      margin-top: 3%;
    }
    100% {
      margin-top: calc(var(--card-height) + 3% + 100px);
    }
  }
}

@media screen and (max-width: 550px) {
  #gacha-display-toggle {
    float:none;
    margin-bottom:1em;
  }
}


.dialog-container,
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; /* set to 10 so that it's greater than nav a.active's z-index */
}

.dialog-overlay {
  background-color: rgba(43, 46, 56, 0.7);
}

/* card animation code */

:root {
  /* BASE */
  --color1: #b8b8b8;
  --color2: #6b6b6b;
  /* --color1: #58abda;
  --color2: #495173; */
  --posx: 50%;
  --posy: 50%;
}

.details-dialog-card, #gacha-controls .card-image {
  width:var(--card-width); height:var(--card-height);
  position: relative;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  /* box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 10px 20px -5px #000; */
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  display: inline-block;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}
#gacha-controls .card-image {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}
#gacha-controls .card-image, #gacha-controls .card-image:before, #gacha-controls .card-image:after {
  transition: all 0.5s ease;
}

.details-dialog-card {
  width:calc(var(--card-width)*2);
  height:calc(var(--card-height)*2);
}

#gacha-controls .card-image {
  margin:auto;
}

@media screen and (max-width: 600px) {
  .details-dialog-card {
    width:calc(var(--card-width)*1.5); height:calc(var(--card-height)*1.5);
  }
}

.details-dialog-card.holo, #gacha-controls .card-image.holo {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
}
.details-dialog-card.ultra, #gacha-controls .card-image.ultra {
  --color1: #ff7873c0;
  --color2: #ffed5fc0;
  --color3: #a8ff5fc0;
  --color4: #83fff7c0;
  --color5: #7894ffc0;
}
.details-dialog-card.secret, #gacha-controls .card-image.secret {
  --color5: #ff787390;
  --color4: #ffed5f90;
  --color3: #a8ff5f90;
  --color2: #83fff790;
  --color1: #7894ff90;
}

.details-dialog-card:before,
.details-dialog-card:after, 
#gacha-controls .card-image:before,
#gacha-controls .card-image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.details-dialog-card:before, #gacha-controls .card-image:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.details-dialog-card.basic:before, #gacha-controls .card-image.basic:before {
  filter: brightness(0) contrast(0);
}

.details-dialog-card.holo:before, .details-dialog-card.ultra:before, .details-dialog-card.secret:before,
#gacha-controls .card-image.holo:before, #gacha-controls .card-image.ultra:before, #gacha-controls .card-image.secret:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}

.details-dialog-card:after, #gacha-controls .card-image:after {
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
}

.details-dialog-card.basic:after, #gacha-controls .card-image.basic:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuMyI+PC9yZWN0Pgo8L3N2Zz4=);
  background-position: center;
  background-size: 200%;
  background-blend-mode: overlay;
  mix-blend-mode: screen;
}

.details-dialog-card.holo:after, #gacha-controls .card-image.holo:after {
  --space: 4%;
  --galaxybg: center 521px;
  background-image: url(../images/galaxy.jpg), url(../images/galaxy.jpg), url(../images/galaxy.jpg), repeating-linear-gradient( 82deg, rgb(219, 204, 86) calc(var(--space)*1), rgb(121, 199, 58) calc(var(--space)*2), rgb(58, 192, 183) calc(var(--space)*3), rgb(71, 98, 207) calc(var(--space)*4), rgb(170, 69, 209) calc(var(--space)*5), rgb(255, 90, 180) calc(var(--space)*6), rgb(255, 90, 180) calc(var(--space)*7), rgb(170, 69, 209) calc(var(--space)*8), rgb(71, 98, 207) calc(var(--space)*9), rgb(58, 192, 183) calc(var(--space)*10), rgb(121, 199, 58) calc(var(--space)*11), rgb(219, 204, 86) calc(var(--space)*12) );
  background-blend-mode: color-dodge, color-burn, saturation;
  background-position: var(--galaxybg, cover), var(--galaxybg, cover), var(--galaxybg, cover), calc(((50% - var(--posx)) * 2.5) + 50%) calc(((50% - var(--posy)) * 2.5) + 50%);
  background-size: cover, cover, cover, 400% 900%;
  filter: brightness(.75) contrast(1.2) saturate(1.5);
  mix-blend-mode: color-dodge;
}

.details-dialog-card.ultra:after, #gacha-controls .card-image.ultra:after {
  --space: 5%;
  --angle: 133deg;
  --imgsize: 50% 42%;
  background-image: url(../images/illusion3.png), repeating-linear-gradient( 0deg, rgb(255, 119, 115) calc(var(--space)*1), rgba(255,237,95,1) calc(var(--space)*2), rgba(168,255,95,1) calc(var(--space)*3), rgba(131,255,247,1) calc(var(--space)*4), rgba(120,148,255,1) calc(var(--space)*5), rgb(216, 117, 255) calc(var(--space)*6), rgb(255, 119, 115) calc(var(--space)*7) ), repeating-linear-gradient( var(--angle), #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10% , #0e152e 12% );
  background-blend-mode: exclusion, hue;
  background-size: var(--imgsize), 200% 400%, 195% 100%;
  background-position: center center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1);
  filter: brightness(1.2) contrast(1.6) saturate(1.4);
  mix-blend-mode: overlay;
  background-repeat: repeat;
}

.details-dialog-card.secret:after, #gacha-controls .card-image.secret:after {
  --space: 5%;
  --angle: 133deg;
  --imgsize: 25% 20%;
  background-image: url(../images/trainerbg3.png), repeating-linear-gradient( 0deg, rgb(255, 119, 115) calc(var(--space)*1), rgba(255,237,95,1) calc(var(--space)*2), rgba(168,255,95,1) calc(var(--space)*3), rgba(131,255,247,1) calc(var(--space)*4), rgba(120,148,255,1) calc(var(--space)*5), rgb(216, 117, 255) calc(var(--space)*6), rgb(255, 119, 115) calc(var(--space)*7) ), repeating-linear-gradient( var(--angle), #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10% , #0e152e 12%);
  background-blend-mode: difference, hue;
  background-size: var(--imgsize), 200% 700%, 300% 100%;
  background-position: center, 0% var(--posy), var(--posx) var(--posy);
  filter: brightness(0.75) contrast(2.5) saturate(.75);
  background-repeat: repeat;
}

/* .details-dialog-card.animated, #gacha-controls .card-image.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
}
.details-dialog-card.animated:before, #gacha-controls .card-image.animated:before {
  transition: none;
  animation: holoGradient 12s ease 0s 1;
}
.details-dialog-card.secret.animated:before, #gacha-controls .card-image.secret.animated:before {
  transition: none;
  animation: holoSecretGradient 12s ease 0s 1;
}
.details-dialog-card.animated:after, #gacha-controls .card-image.animated:after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1;
}

.details-dialog-card.secret.animated:after, #gacha-controls .card-image.secret.animated:after {
  transition: none;
  animation: holoSecretSparkle 12s ease 0s 1;
} */

.details-dialog-card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
}
.details-dialog-card.animated:before {
  transition: none;
  animation: holoGradient 12s ease 0s 1;
}
.details-dialog-card.secret.animated:before {
  transition: none;
  animation: holoSecretGradient 12s ease 0s 1;
}
.details-dialog-card.animated:after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1;
}

.details-dialog-card.secret.animated:after {
  transition: none;
  animation: holoSecretSparkle 12s ease 0s 1;
}

/* HoloSparkle ----------------------------------- */
@keyframes holoSparkle {
  0%, 100% {
    opacity: 0;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  6%, 11%  {
    opacity: 0.6;
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSecretSparkle {
  0%, 100% {
    opacity: 0;
    background-position: 20% 15%;
    filter: brightness(0.8) contrast(2.2);
  }
  6%, 11%  {
    opacity: 0.6;
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 20% 15%;
    filter: brightness(0.8) contrast(1.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 30% 25%;
    filter: brightness(0.7) contrast(2);
  }
  55% {
    opacity: 0.33;
    background-position: 15% 10%;
    filter: brightness(0.8) contrast(2.2);
  }
}

/* HoloGradient ----------------------------------- */
@keyframes holoGradient {
  0%, 100% {
    opacity: 0;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  3%, 6% {
    opacity:0.5;
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}

@keyframes holoSecretGradient {
  0%, 100% {
    opacity: 0;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(0.6);
  }
  3%, 6% {
    opacity:0.5;
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(0.6);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.4);
  }
}

/* HoloCard ----------------------------------- */
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

/* Gacha page only shortened animations */

#gacha-controls .card-image.animated {
  transition: none;
  animation: holoCard 3s ease 0s 1;
}
#gacha-controls .card-image.animated:before {
  transition: none;
  animation: holoGradient 3s ease 0s 1;
}
#gacha-controls .card-image.secret.animated:before {
  transition: none;
  animation: holoSecretGradient 3s ease 0s 1;
}
#gacha-controls .card-image.animated:after {
  transition: none;
  animation: holoSparkle 3s ease 0s 1;
}

#gacha-controls .card-image.secret.animated:after {
  transition: none;
  animation: holoSecretSparkle 3s ease 0s 1;
}

#gacha-notes {
  color:white;
  background-color:transparent;
  margin:1em 0;
  font-size:0.9em;
}
#gacha-notes p {
  margin:0.3em;
}

/* #gacha-controls #card-list tcg-card *:focus {
  box-shadow: 0 0px 30px -5px var(--bg-color);
} */