.card,
.card-front,
.card-back {
  display: inline;
}

/* Override default button styling */
.card-front,
.card-back {
  display: inline;
  width: 200px;
  margin: 3%;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.card-image,
.card-cover {
  width: 100%;
}

.card-cover {
  margin: 3%;
  border: solid;
  border-color: dodgerblue;
}

.dialog-title {
  grid-area: head;
  /* center contents in grid cell */
  text-align: center;
  align-self: center;
}

.details-dialog-card {
  grid-area: card;
  /* center contents in grid cell */
  justify-self: center;
  align-self: center;
  height: 95%;
}

.details-dialog-text {
  padding: 0 30px;
  overflow: auto;
  grid-area: text;
}

.card-details-dialog-close {
  grid-area: x;
  position: absolute;
  top: 0;
  right: 1em;
}

.card-subtitle {
  user-select: text;
}

#card-details-dialog {
  top: 2rem;
  left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
  transform: translateX(-50%); /* move backwards 50% of this element's width */
  position: fixed;
  box-sizing: border-box;
  padding: 2em;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  height: 90%;
  width: 90%;
  z-index: 10; /* set to 10 so that it's greater than nav a.active's z-index and #dialog-overlay */
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-areas:
    "card     x"
    "card  head"
    "card  text"
    "card  text";
  /* 0.2fr for close button */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 0.5fr 1fr 1fr;
}

[role="dialog"][aria-hidden="true"] {
  display: none;
}

@media screen and (max-width: 1000px) {
  #card-details-dialog {
    grid-template-areas:
      "x"
      "head"
      "card"
      "text";
    overflow: auto;
    grid-template-columns: 1fr;
    /* 3em for close button. fr unit doesn't seem to work when column is 1 */
    grid-template-rows: 3em 0.5fr 1fr 1fr;
  }

  .details-dialog-card {
    /* max width should be 300px but if the screen width is smaller, fill in container */
    height: auto;
    width: 100%;
    max-width: 300px;
  }

  .details-dialog-text {
    /* Override overflow: auto for small screens, and let whole dialog scroll instead of just the text section */
    overflow: visible;
    /* ignore min-height */
    min-height: auto;
    padding: 1em 2vmin;
  }
}

.dialog-container,
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; /* set to 10 so that it's greater than nav a.active's z-index */
}

.dialog-overlay {
  background-color: rgba(43, 46, 56, 0.7);
}
