@import "card.css";

/* General styling that applies to all pages */

:root {
  --accent-color: #54acdc;
  --accent-color-lighten-50: #a9d5ed;
  --bg-color: #1d346d;
  --bg-color-lighten-30: #345ec5;
  --bg-color-lighten-50: #6c8bd7;
}

html {
  background-color: var(--bg-color);
  background-image: url(../images/bg-web.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body,
main {
  background: transparent;
  /* adding a bit of extra spacing, mostly for aesthetic reasons. Mobile view looked especially tight. */
  margin: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rowdies", sans-serif;
}

section {
  padding: 30px;

  min-height: 50vh;
}

footer {
  color: white;
  text-align: center;
  padding: 30px;
}

footer p {
  font-size: 0.8em;
}

#footer-nav {
  color: white;
  display: flex;
  justify-content: center;
  column-gap: 2vh;
}

footer svg {
  width:1em;
  margin-right: 5px;
}

footer a,
#download-links a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.8em;
  color: white;
}

#download-links a,
#footer-nav a {
  padding: 7px 13px !important;
  background-color: var(--bg-color-lighten-30);
  border-radius: 3px;
  cursor: pointer;
}

footer a .icon,
#download-links a .icon {
  position: relative;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

#download-links a:hover, #download-links a:active,
#footer-nav a:hover, #footer-nav a:active {
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
}

button:not(.card-front):not(.card-back),
select,
input {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: white;
  border: 8px solid transparent;
  max-height: 37px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
::placeholder {
  color: white;
  opacity: 0.8;
}

button:not(.card-front):not(.card-back),
select {
  cursor: pointer;
}

button:not(.card-front):not(.card-back):hover,
select:hover,
button:not(.card-front):not(.card-back):focus-visible,
select:focus-visible,
input:hover,
input:focus-visible {
  background-color: var(--accent-color);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.skip-link {
  color: white;
}

#size-dropdown {
  width: auto;
}

#title-header {
  position: relative;
  color: white;
  text-align: center;
  /* Reducing spacing here on the title header */
  margin-top: 1em;
  margin-bottom: 0;
  font-family: "Zen Dots", fantasy;
}

#title-header::before {
  content: "";
  background-image: url(../icons/Icons_Logo.svg);
  background-size: contain;
  background-position: center;
  opacity: 0.5;
  position: absolute;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  left: calc(50% - 1.5em);
  top: calc(50% - 1.35em);
  z-index: -1;
}

#page-header {
  color: white;
  text-shadow: 4px 4px 1px rgb(13 66 163), -3px -3px 1px rgb(148 186 255);
}

#collection-pagination {
  display: flex;
  align-items: center;
  /* More spacing. Makes it look better in portrait/narrow view. */
  justify-content: space-around;
  gap: 1em;
  margin-top: 2em;
}

#collection-pagination button {
  width: 30vmin;
  max-width: 200px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* for elements we want hidden but still retain layout */
.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

section#collection-settings,
section#collection-pagination {
  min-height: auto;
  padding: 0;
}

#collected-cards-number {
  font-size: 1em;
}

section#artist-writer-board ul {
  column-count: 2;
  column-gap: 0.5em;
  column-gap: 1em;
  margin: 0;
  padding: 0;
}

section#artist-writer-board ul li {
  list-style: none;
  display: block;
}

section#artist-writer-board .header-message {
  column-span: all;
  text-align: center;
  margin-bottom: 1em;
}
section#artist-writer-board h1 {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em;
}

section#artist-writer-board .artist-writer-message {
  padding: 1.5em;
  background: #bbd5da;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin: 1.5em 0.5em;
  text-align: center;
  /* avoid breaking the message box between columns */
  break-inside: avoid;

  animation: 1s slide-up ease;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  will-change: transform;
}

section#artist-writer-board .artist-writer-message:first-child {
  margin-top: 0px;
}

section#artist-writer-board .artist-writer-message a {
  color: var(--bg-color);
}

section#artist-writer-board .artist-writer-message a:visited {
  color: var(--bg-color-lighten-50);
}

section#artist-writer-board .artist-writer-message:nth-child(odd) {
  animation-delay: 0.5s;
}
section#artist-writer-board .artist-writer-message:nth-child(even) {
  animation-delay: 0.75s;
}
section#artist-writer-board .artist-writer-message:nth-child(3n) {
  animation-delay: 1s;
}

section#artist-writer-board .artist-writer-message h2,
section#artist-writer-board .artist-writer-message h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section#artist-writer-board .artist-writer-message h2 {
  font-size: 1.25em;
}

section#artist-writer-board .artist-writer-message h2::before,
section#artist-writer-board .artist-writer-message h2::after {
  position: relative;
  content: "🎇";
  margin: 0.2em;
}

section#artist-writer-board .artist-writer-message h3 {
  font-size: 1em;
}

section#credits {
  position: relative;
  display: grid;
  grid-template-areas:
    "downloadheader downloadheader"
    "downloadlinks downloadlinks"
    "creditsheader        creditsheader"
    "general       devs"
    "accessibility twitillust"
    "twitter       twitter";
}

section#credits h1 {
  font-size: 1.5em;
  margin-bottom: 2em;

  width: 100%;
  text-align: center;
  column-span: all;
  color: white;
}
section#credits h1#download-header {
  grid-area: downloadheader;
}
section#credits h1#credits-header {
  grid-area: creditsheader;
}
section#download-links {
  display: flex;
  justify-content: center;
  background-color:transparent;
}
section#download-links a {
  color: white;
  text-decoration: none;
  margin: 0px 5px;
  font-size: 1em;
  background-color: var(--bg-color);
}

section.credits-column {
  min-height: auto;
  padding: 1.5em;
  background: #bbd5da;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
  /* avoid breaking the message box between columns */
  break-inside: avoid;

  animation: 1s slide-up ease;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  will-change: transform;
}
section.credits-column h2 {
  text-align: center;
  font-size: 1.4em;
  /* this is the credits background color */
  border-bottom: 3px solid #2852b3;
  padding-bottom: 1em;
}
section.credits-column ul {
  list-style: none;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-align: center;
}

section.credits-column#download-links {
  grid-area: downloadlinks;
  animation-delay: 0.5s;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 0;
}
section.credits-column#credits-role-id-0 {
  grid-area: general;
  animation-delay: 1s;
  margin-top: 0;
}
section.credits-column#credits-role-id-1 {
  grid-area: devs;
  animation-delay: 1.5s;
}
section.credits-column#credits-role-id-2 {
  grid-area: accessibility;
  animation-delay: 2s;
}
section.credits-column#credits-role-id-3 {
  grid-area: twitillust;
  animation-delay: 2.5s;
}

section.credits-column li {
  margin: 2em 0;
}
section.credits-column#twitter-images {
  grid-area: twitter;
  animation-delay: 3s;
}
section.credits-column#twitter-images ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0em;
  column-gap: 2vmin;
}
section.credits-column#twitter-images li {
  display: flex;
  flex-direction: column;
}
section.credits-column#twitter-images li img {
  height: auto;
  width: 50vmin;
  max-width: 300px;
}
section.credits-column#twitter-images li a {
  color: var(--bg-color);
  font-weight: bold;
  margin-top: 0.5em;
}

section.credits-column h3 {
  font-size: 1.25em;
  margin-bottom: 0.25em;
}

section.credits-column h4 {
  font-size: 1em;
  margin: 0.5em 0;
}

section.credits-column a {
  color: var(--bg-color);
}

section.credits-column a:visited {
  color: var(--bg-color-lighten-50);
}

section.credits-column p {
  margin-top: 0.25em;
  font-size: 1em;
}


/* youtube video container */

#youtube-video {
  width: 90vw;
  height: calc(90vw * 0.563);
  margin: 0 auto 2em 0;
}

/* message board text specific */

#message-board {
  color: white;
  text-align: center;
}
#message-board p {
  line-height: 1.3;
}
#message-board a {
  color: white;
  white-space: nowrap;
}

@media only screen and (max-width:1020px){
  #youtube-video {
    width: 80vw;
    height: calc(80vw * 0.563);
  }
}

@media only screen and (max-width: 800px) {
  /* mobile / portrait styling */

  html {
    /* use portrait ver of bg */
    background-image: url(../images/bg-mobile.png);
  }

  section#artist-writer-board ul {
    column-count: 1;
  }

  section#credits {
    grid-template-areas:
      "downloadheader"
      "downloadlinks"
      "creditsheader"
      "general"
      "devs"
      "accessibility"
      "twitillust"
      "twitter";
  }
}

@media only screen and (min-width: 800px) {
  /* desktop / wide styling */
  main {
    margin: 1em;
  }
}

@media only screen and (max-width:420px){
  #youtube-video {
    width: 70vw;
    height: calc(70vw * 0.563);
  }
}


@keyframes slide-up {
  0% {
    opacity: 0;
    /* 250px defined as set value to fix the large gap that appears at the very bottom of the credits page */
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 520px) {

  section#download-links {
    padding: 1em;
    flex-direction: column;
  }
  section#download-links a {
    margin: 10px 5px;
  }

}