nav {
    padding-bottom: 14px;
}

nav a {
    font-weight: bold;
    padding: 15px 20px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
}

nav a:not(.active) {
    background: lightgray;
}

nav a:hover:not(.active) {
    background: grey;
}