/* nav styling goes here */
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

nav hr {
  width: 30%;
  margin: 1em 0;
}

nav a {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 0.8em;

  color: white;
}

nav a.active {
  transform: scale(1.1);
  z-index: 1;
}

nav a .icon,
footer a .icon,
#download-links a .icon {
  position: relative;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

/* chibi altare always sits on home tab */
nav a#nav-home #chibi-altare {
  content: "";
  position: absolute;
  object-fit: contain;
  object-position: 50% 100%;
  width: 100%;
  height: 11em;
  bottom: -0.5em;
  z-index: 2;

  /* pat pat */
  cursor: grab; 
  /* animation transform optimization */
  -webkit-backface-visibility: hidden;

  transform-origin: 50% 100%;
}

nav a#nav-home:hover #chibi-altare,
nav a#nav-home:focus-visible #chibi-altare {
  animation: chibi-altare-anim 2s linear;
  animation-iteration-count: infinite;
}

nav a#nav-gacha::before,
section#gacha-controls section#card-list,
section#gacha-controls {
  background-color: #3b47b3;
}

nav a#nav-gacha:hover:not(.active)::before,
nav a#nav-gacha:focus-visible:not(.active)::before {
    background-color: #6f79cf;
}

nav a#nav-collection::before,
section#collection-border section#card-list,
section#collection-border {
  background-color: #5f7bc5;
}

nav a#nav-collection:hover:not(.active)::before,
nav a#nav-collection:focus-visible:not(.active)::before {
    background-color: #8ea2d6;
}

nav a#nav-artist-writer-board::before,
section#artist-writer-board {
  background-color: #4c5678;
}

nav a#nav-artist-writer-board:hover:not(.active)::before,
nav a#nav-artist-writer-board:focus-visible:not(.active)::before {
    background-color: #7883a9;
}

nav a#nav-message-board::before,
section#message-board {
  background-color: #485eb3;
}

nav a#nav-message-board:hover:not(.active)::before,
nav a#nav-message-board:focus-visible:not(.active)::before {
    background-color: #7d8dca;
}

nav a#nav-credits::before,
section#credits {
  background-color: #2852b3;
}

nav a#nav-credits:hover:not(.active)::before,
nav a#nav-credits:focus-visible:not(.active)::before {
    background-color: #587fd9;
}

#nav-hamburger {
  /* hamburger stays up top while user is scrolling down */
  position: sticky;
  top: 0.5em;
  right: 0;
  height: 4em;
  width: 4em;
  background: rgb(59 71 179);
  margin: 1em 0.25em;
  margin-left: auto;
  border: 0;
  cursor: pointer;
  /* enforces hamburger button to stay on top */
  z-index: 1;

  display: none;
}

#nav-hamburger:hover,
#nav-hamburger:focus-visible {
    background-color: #6f79cf;
}

#nav-hamburger img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

#nav-mobile-download-pdf, #nav-mobile-download-a11y {
  display:none;
}

/* back to scheduled programming */
#close-nav-menu {
  position: relative;
  width: 2em;
  height: 2em;
  padding: 0;
  margin-top: 1em;
  border-radius: 50%;
  background: transparent;
  border: 2px solid white;

  cursor: pointer;
}

#close-nav-menu img {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}

@media only screen and (max-width: 1000px) {
  /* portrait / small width styling, show burger menu */
  #nav-hamburger {
    display: block;
    /* ensure that this always stays above gacha cards, but below the card dialog */
    z-index: 15;
  }

  nav {
    /* prevent nav menu from being scrolled away */
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    background-color: rgb(59 71 179 / 80%);
    /* blur background for readability */
    backdrop-filter: blur(5px);

    visibility: hidden;
    transition: 0.25s opacity ease;
    opacity: 0;

    pointer-events: none;
  }

  nav > * {
    transition: 0.5s transform ease, 0.5s opacity ease;
    transform: translateY(-2em);
    opacity: 0;
  }

  nav a {
    background-color: transparent !important;
    padding: 0.5em 0;
    margin: 0.5em 0;
  }

  /* chibi altare always sits on home tab */
  nav a#nav-home #chibi-altare {
    height: 5em;
    width: 5em;
    bottom: calc(100% - 3px);
    right: auto;
    opacity: 1;
  }

  nav a.active {
    transform: translateY(-50%) scale(1.1);
    border-bottom: 3px solid white;
    border-bottom-style: double;
  }

  nav a:hover:not(.active),
  nav button:hover:not(.active),
  nav a:focus-visible:not(.active),
  nav button:focus-visible:not(.active) {
    transition-duration: 0.25s;
    transform: scale(1.1);
  }

  nav.active {
    visibility: visible;
  }

  nav.open {
    opacity: 1;
    pointer-events: auto;
  }

  nav.open > * {
    transform: translateY(0%);
    opacity: 1;
  }

  nav.open a.active {
    transform: translateY(0%) scale(1.1);
    opacity: 1;
  }

  #nav-mobile-download-pdf, #nav-mobile-download-a11y {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  /* wide styling, for when the tabs are all visible on screen */
  
  nav {
    justify-content: center;
  }

  nav a#nav-home:hover span,
  nav a#nav-home:focus-visible span {
      visibility: visible;
      opacity: 1;
      transform: translateX(-10%) rotate(12deg);
  }
   
  nav a#nav-home {
    flex-basis: 11vw;
    height: 10em;
    margin-top: -5em;
    margin-right: 1em;
  }
    
  nav a#nav-home span {
      position: absolute;
      width: 70px;
      text-align: center;
      padding: 0.5em 0.5em;
      padding-right: 1vw;
      border-radius: 0.25em;

      visibility: hidden;
      opacity: 0;
      transition: 0.5s opacity ease, 0.5s transform ease;
      background-color: var(--accent-color);

      z-index: 1;
      bottom: 10%;
      right: 50%;
      transform-origin: 50% 0%;
      transform: translateX(50%) rotate(0deg);
  }

  nav a:not(#nav-home) {
    padding: 0.55rem 2.7rem;
    transform-origin: 50% 50%;
    font-size: 0.6em;
  }

  nav a:not(#nav-home).active {
    font-size: 0.75em;
  }

  /* Setting tab styling to ::before so we can display tab outline w/ keyboard */
  nav a:not(#nav-home)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: url(#navClip);

    z-index: -1; /* render underneath text */
  }

  nav a:first-of-type {
    transform-origin: 0 0%;
  }

  /* specifying #nav-credits here since the last element in the nav is not a tab */
  nav a#nav-credits {
    transform-origin: 100% 0%;
  }

  #close-nav-menu,
  nav hr {
    display: none;
  }
}

@keyframes chibi-altare-anim {
  0% { transform: translateZ(0) rotate(0deg) scaleX(1) scaleY(1); }
  25% { transform: translateZ(0) rotate(-1deg) scaleX(0.99) scaleY(1.02); }
  50% { transform: translateZ(0) rotate(0deg) scaleX(1) scaleY(1); }
  75% { transform: translateZ(0) rotate(1deg) scaleX(0.99) scaleY(1.02); }
  100% { transform: translateZ(0) rotate(0deg) scaleX(1) scaleY(1); }
}

@media (prefers-color-scheme: dark) {

  nav a#nav-gacha::before,
  section#gacha-controls section#card-list,
  section#gacha-controls {
    background-color: rgb(47, 57, 143);
  }

  nav a#nav-gacha:hover:not(.active)::before,
  nav a#nav-gacha:focus-visible:not(.active)::before {
      background-color: #6f79cf;
  }

  nav a#nav-collection::before,
  section#collection-border section#card-list,
  section#collection-border {
    background-color: rgb(48, 72, 133);
  }

  nav a#nav-collection:hover:not(.active)::before,
  nav a#nav-collection:focus-visible:not(.active)::before {
      background-color: #8ea2d6;
  }

  nav a#nav-artist-writer-board::before,
  section#artist-writer-board {
    background-color: rgb(61, 69, 96);
  }

  nav a#nav-artist-writer-board:hover:not(.active)::before,
  nav a#nav-artist-writer-board:focus-visible:not(.active)::before {
      background-color: rgb(58, 75, 143);
  }

  nav a#nav-message-board::before,
  section#message-board {
    background-color: rgb(32, 66, 143);
  }

  nav a#nav-message-board:hover:not(.active)::before,
  nav a#nav-message-board:focus-visible:not(.active)::before {
      background-color: #7d8dca;
  }

  nav a#nav-credits::before,
  section#credits {
    background-color: #2852b3;
  }

  nav a#nav-credits:hover:not(.active)::before,
  nav a#nav-credits:focus-visible:not(.active)::before {
      background-color: #587fd9;
  }
}

@media only screen and (max-width: 1000px) and (prefers-color-scheme: dark) {
  nav {
    /* bg-darken-50 at 80% opacity */
    background-color: rgb(14 25 54 / 80%); 
  }
}